---
import tour1 from "../assets/image-4.png";
import tour2 from "../assets/image-5.png";
import tour3 from "../assets/image-6.png";
import CardBlog from "./CardBlog.astro";
---

<section id="blog">
  <div class="row text-center w-50 mx-auto">
    <div class="col">
      <h2 class="fw-semibold mb-4 pb-4">
        Get update with <span class="accent-text">latest blog</span>
      </h2>
    </div>
  </div>
  <div class="row gap-4 justify-content-center">
    <CardBlog
      title="The Amazing Difference a Year of Travelling."
      date="July 27, 2021"
      img={tour1}
    />
    <CardBlog
      title="Travel far enough, you meet yourself."
      date="July 27, 2021"
      img={tour2}
    />
    <CardBlog
      title="How to Save Money While Visiting Africa."
      date="July 27, 2021"
      img={tour3}
    />
    <CardBlog
      title="Reflections on 5 Months of Travel: Time to Hang."
      date="July 27, 2021"
      img={tour1}
    />
  </div>
</section>

<style>
  #blog {
    max-width: 920px;
    margin: 2rem auto;
    padding: 2rem 0;
    padding-bottom: 6rem;
    background-color: var(--bg);
  }
  .card {
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .card-body p {
    font-size: 0.85rem;
  }
</style>
