---
import logo from "../assets/logo.png";
---

<header>
  <nav class="navbar h-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src={logo} alt="trabook logo" />
      </a>
      <ul class="navbar-nav d-flex flex-row gap-4">
        <li class="nav-item">
          <a class="nav-link fs-6" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link" href="#">Destination</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link" href="#">Tour</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
      <ul
        class="navbar-nav d-flex flex-row align-items-center gap-4"
      >
        <li class="nav-item fs-6">
          <a class="nav-link accent-text" href="#">Login</a>
        </li>
        <li class="nav-item fs-6">
          <button class="d-inline-flex py-1 px-4 border rounded-2 btn-sign">Sign Up</button>
        </li>
      </ul>
    </div>
  </nav>
</header>

<style>
  header {
    width: 920px;
    height: 80px;
    margin: auto;
  }
  nav {
    display: flex;
  }
  .header-list {
    display: flex;
    gap: 12px;
    list-style: none;
  }
  .btn-sign {
    background-color: var(--main);
    color: white;
    border: none;
  }
  .btn-sign:hover {
    background-color: var(--main);
    color: white;
    box-shadow: 0 0 10px var(--main);
  }
  .accent-text {
    color: var(--main);
  }
  .accent-text:hover {
    color: var(--main);
  }
</style>
