---
import tourist from "../assets/tourist-with-thumb-up.png";
---

<section id="testimony">
  <div class="row">
    <div class="col">
      <h2 class="fw-semibold">
        What people say <span class="accent-text">about us</span>
      </h2>
      <p class="text-muted mb-4">
        Our clients send us bunch of smilies with our services and we love them.
      </p>
      <div class="d-flex gap-2">
        <button
          class="btn rounded-circle d-inline-flex justify-content-center align-items-center"
          style="width: 32px; height: 32px; border: 1px solid gray; color: gray;">&larr;</button
        >
        <button
          class="btn rounded-circle d-inline-flex justify-content-center align-items-center"
          style="width: 32px; height: 32px; background-color: var(--main); color: white;">&rarr;</button
        >
      </div>
    </div>
    <div class="col position-relative">
      <div class="card card-main">
        <img
          class="position-absolute p-2 rounded-circle avatar-img"
          src={tourist}
          alt="avatar"
        />
        <div class="card-body">
          <p class="card-text text-muted mb-4">
            "On the window talking painted pasture yet its express parties use.
            Sure last upon he same as knew next. Of believed or diverted no."
          </p>

          <div>
            <h5 class="card-title fw-semibold m-0">Mike Taylor</h5>
            <p class="card-text text-muted">Lahore, Pakistan</p>
          </div>
        </div>
      </div>

      <div class="card position-absolute card-behind">
        <div class="card-body">
          <p class="card-text text-muted mb-4">
            "On the window talking painted pasture yet its express parties use.
            Sure last upon he same as knew next. Of believed or diverted no."
          </p>

          <div>
            <h5 class="card-title fw-semibold m-0">Chris Thomas</h5>
            <p class="card-text text-muted">CEO of Red Button</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #testimony {
    left: 0;
    right: 0;
    bottom: 360px;
    margin: 0 auto;
    padding: 6rem 0;
    background-color: var(--bg-alt);
  }
  #testimony > div {
    margin: 0 auto;
    max-width: 960px;
  }
  .avatar-img {
    top: -32px;
    left: -32px;
    width: 48px;
    height: auto;
    background-color: var(--main);
  }
  .card {
    width: 80%;
    border: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  }
  .card-main {
    position: relative;
    z-index: 10;
  }
  .card-behind {
    z-index: 1;
    top: 72px;
    left: 40px;
    opacity: 0.5;
  }
  .btn:hover {
    box-shadow: 0 0 8px 0 var(--main);
  }
</style>
